/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   THIS CODE IS FOR RESETING DEAFULT BROWSER VALUES
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*------------------------------------------ HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DEAFULT BOX MODEL SIZE TO INCLUDE BORDER, PADDING AND CONTENT AND ADD BACKGROUND IMAGE*/

body {
	box-sizing: border-box;
	background-image: url(../images/nza_background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	padding: 2.5% 0;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 100;
}

/* CONTAINER SECTION */
.container {
	width: 80%;
	background-color: #fff;
	margin: 0 auto;
}

.wrapper-size {
	width: 90%;
	margin: 0 auto;
}
/*------------------------------------------- HEADER SECTION ------------------------------*/
header {
	width: 100%;
}
.login-container {
	width: 100%;
	margin-bottom: 20px;
}

.login {
	background-color: #ccc;
	border: none;
	padding: 5px;
	color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	float: right;
}

/* LOGO STYLES */
.logo {
	width: 100%;
}

.logo img {
	height: 70px;
	width: auto;
}

/*------------------------------------------ NAV SECTION ------------------------------------*/
.main-nav {
	width: 100%;
	border: 1px solid #000;
	border-left: none;
	border-right: none;
	padding: 10px 0;
	margin-top: 10px;
	font-weight: 400;
}
.vertical-line {
	border-left: 4px solid rgba(155, 154, 154, .4);
	border-width: thin;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

nav ul li {
	text-transform: uppercase;
}

.main-nav ul li a {
	color: #000;
	text-decoration: none;
	font-size: 14px;
}

.main-nav ul li a:hover {
	color: rgb(41, 171, 247);
}

/* MAIN SECTION */
.content {
	margin-top: 25px;
	border-bottom: 1px solid #000;
	width: 100%;
	font-size: 14px;
	font-weight: 300;
}
.slideshow {
	/* border: 1px solid #000; */
	padding: 0 40px 0 0;
	width: 100%;
	height: 474px;
}

.slideshow img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.news {
	background-color: #923530;
	color: #fff;
	overflow: auto;
	padding: 5px;
	height: 441px;
}

.news h4 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 16px;
	padding: 5px 7px 0;
}

.news hr {
	border-bottom: 1px solid #fff;
	border-width: thin;
	width: 95%;
}

.news p {
	padding: 5px 7px 0;
	line-height: 1.5;
	font-weight: 100;
	font-size: 14px;
}

.welcome,
.address {
	padding: 30px 10px 60px 10px;
	line-height: 1.5;
	font-weight: 300;
	font-size: 14px;
}

.welcome h5,
.address h5 {
	font-weight: 500;
	line-height: 1.5;
	font-size: 14px;
}

/* FOOTER SECTION */
footer {
	width: 100%;
	padding: 10px 0;
}
footer nav {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
}

.footer-item {
	padding: 0;
	text-align: center;
	max-width: 120px;
}

.footer-item a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

.footer-item a:hover {
	color: rgb(41, 171, 247);
}

.footer-item hr {
	width: 20px;
	display: inline-block;
	text-align: center;
}

.dash {
	max-width: 25px;
}

/* REMOVE MARGIN FROM BOOTSTRAP5 TO MAKE SITE CENTER*/

#header,
#main,
#footer {
	margin-left: 0;
	margin-right: 0;
}

/* SERVICES PAGE'S CSS */
.side-nav {
	background-image: url(../images/nav_side.jpg);
	color: #fff;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.side-nav img {
	width: 100%;
}
#nav-header {
	text-transform: uppercase;
	border-bottom: 2px solid #eee;
}

.nav-list a {
	text-decoration: none;
	color: #fff;
}

dd {
	padding-left: 10px;
}

.cnt-img-wrapper img {
	width: 250px;
	margin: 3px;
}

/* CONTACT US CSS */
.contact-content {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 100;
	padding-bottom: 60px;
	margin-bottom: 10px;
}

.contact-content h5 {
	font-size: 20px;
	font-weight: 300;
	margin: 15px 0;
}

.contact-content hr {
	background-color: #fff;
	margin: 0;
}

.contact-content p {
	font-size: 14px;
	margin: 10px 0 15px 0;
	font-weight: 300;
}

.side-image img {
	width: 100%;
}

.middle {
	padding: 0 5px 0 10px;
	margin: 0;
}

.middle img {
	width: 100%;
}

.hours,
.address-info,
.phone-info,
.contact-info {
	width: 100%;
}

.info-contact {
	color: #800000;
}

#news-events {
	font-size: 14px;
	font-weight: 400;
	margin: 5px 0;
}

.right-side {
	margin-bottom: 10px;
}

.left-side {
	margin-bottom: 70px;
}

#last-para {
	margin-bottom: 0;
}

.third {
	margin: 15px 0;
}

.third img,
.fourth img {
	width: 100%;
}
